<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Xóa Sản Phẩm</title>
    <script type="text/javascript">
        function setActionUrl() {
            const id = document.getElementById("id").value;
            const form = document.getElementById("deleteForm");
            form.action = "./delete/" + id;
        }
    </script>
</head>
    <body>
        <h2>Xóa Sản Phẩm</h2>
        <form id="deleteForm" method="post" onsubmit="setActionUrl()">
            <input type="hidden" name="_method" value="delete"/>
            <label for="id">Nhập ID sản phẩm cần xóa:</label>
            <input type="number" id="id" name="id" required/>
            <button type="submit">Xóa</button>
        </form>
    </body>
</html>
