<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Product Search Price</title>
    </head>
    <body>
        <h1>Search Result For Price Greater Than <span th:text="${param.price}">Product Price</span></h1>
        <ul>
            <li th:each="product: ${products}">
                <span th:text="${product.name}">Product Name</span> -
                <span th:text="${product.price}">Product Price</span>
            </li>
        </ul>
    </body>
</html>